* {
	margin: 0;
	padding: 0;
}

/*はみ出た子要素を認識させるテクニック。floatを使うとよく起きる現象への対策。今回はbodyからはみ出た部分を収めさせた*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.copyright {
	text-align: center;
}

.pagetop {
	text-align: right;
}

header h1{
    text-align: center;
    margin: 20px;
}

header h3{
	text-align: center;
}

header form{
    float: right;
    margin-left: 10px;
}
.navigation ul{
    float: right;
}

.navigation ul li {
    list-style-type: none;
    float: left;
    margin-left: 10px;
    padding: 5px;
    /* display: inline; */
}

.mainvisual img {
    clear: both;
	margin: 0 auto;
	display: block;
	width: 70%;
}

/*
.bxslider .img {
	clear: both;
	margin: 0 auto;
	display: block;
	width: 70%;
}
*/

.products{
    clear: both;
    margin-top: 30px;
}

.vege {
	/*overflow: hidden;*/
    float: left;
    width: 20%;
    margin-right: 35px;
    margin-left: 35px;
}

.vege img {
	/*display: inline;*/
	/*300pxの正方形が大体どれ位か覚える*/
	float: left;
    width: 100%;
    height: 300px;
}

/*clear:bothはfloatで続いた流れをリセットするもの*/
.vege div{
    clear: both;
    width: 100%;
    float: left;
}

h4 {
    /* overflow: hidden; */
    clear: both;
}

footer{
    clear: both;
    float: left;
    width: 100%;
}

/*横幅767px以下のレスポンシブ用CSS*/
@media screen and (max-width: 767px) {
	header h1 {
		font-size: 16px;
	}
	body {
		margin: 0 10px;
	}
	/*2018/12/05　島さん加筆箇所*/
	.vege {
		float: none;
		margin: auto;
        width: 90%;
        margin-bottom: 10px;
    }
		
}


/*横幅480px以下のレスポンシブ用CSS*/
@media screen and (max-width: 480px) {
	header h1 {
		font-size: 12px;
	}
	body {
		margin: 0 10px;
	}
}









