* {
	margin: 0;
	padding: 0;
}

/*横幅767px以下のレスポンシブ用CSS*/
@media screen and (max-width: 767px) {
	body {
		margin: 0 10px;
	}
}


/*横幅480px以下のレスポンシブ用CSS*/
@media screen and (max-width: 480px) {
	body {
		margin: 0 10px;
	}
}